.container-pesquisa-fundo {
    align-items: center;
    background-image: url(../Images/imagens-de-teste/corgi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-pesquisa {
    width: 75%;
    background-color: var(--grafite-diluido);
    padding: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}