/* CSS para configurações gerais. Obs o modo principal é o escuro */

/* Importa fontes google */
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
/* fonte corpo */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Cria variáveis com cores e fontes */
:root {
    --fonte-titulo: "Mitr", sans-serif;
    --fonte-corpo: "Red Hat Display", sans-serif;
    --preto: #0F0F0F;
    --grafite: #272829;
    --grafite-diluido: #272829b7;
    --off-white: #F1F1F1;
    --bege: #fef0c3;
    --bege-escuro: #fbae67;
    --azul: #0f4353;
    --laranja: #d32300;
    --laranja-claro: #ee4b2b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fonte-titulo);
}

.link-titulo {
    display: flex;
    align-items: center;
}

.link-titulo h1 {
    color: var(--laranja);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body {
    font-family: var(--fonte-corpo);
}

/* NAV BAR */
.container-nav {
    padding: 0.5em 4em 0.5em 4em;
}

/* CORPO INDEX  SECAO-SOBRE-NOS */
.secao-sobre-nos {
    display: flex;
    margin: 2em 0;
    justify-content: center;
}

.card-text {
    text-align: justify;
}

.card-gato-mobile {
    display: none;
}

@media only screen and (max-width: 1400px) {
/* NAV BAR */
.container-nav {
    padding: 0.5em;
}
}

@media only screen and (max-width: 766px) {
    /* CORPO INDEX  SECAO-SOBRE-NOS */
    .card-gato-web {
        display: none;
    }
    .card-gato-mobile {
        display: block;
    }
}