/* CSS para configurações gerais. Obs o modo principal é o escuro */

/* Importa fontes google */
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
/* fonte corpo */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Cria variáveis com cores e fontes */
:root {
    --fonte-titulo: "Mitr", sans-serif;
    --fonte-corpo: "Red Hat Display", sans-serif;
    --preto: #0F0F0F;
    --grafite: #272829;
    --grafite-diluido: #272829b7;
    --cinza-claro: #8d9092b7;
    --cinza-diluido: #adadad8f;
    --off-white: #F1F1F1;
    --bege: #fef0c3;
    --bege-escuro: #fbae67;
    --azul: #0f4353;
    --azul-medio: #185568;
    --laranja: #d32300;
    --laranja-claro: #ee4b2b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fonte-titulo);
}

.link-titulo {
    display: flex;
    align-items: center;
}

.link-titulo h1 {
    color: var(--laranja);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body {
    font-family: var(--fonte-corpo);
}

.titulo-card-coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bege);
}

.titulo-card-coluna h2 {
    padding-bottom: 1em;
}

.link-simples:hover {
    text-shadow: 1px 1px 2px var(--cinza-diluido);
}

/* NAV BAR */
.container-nav {
    padding: 0.5em 4em 0.5em 4em;
}

/* CORPO INDEX - SECAO-SOBRE-NOS */

.secao-azul {
    display: flex;
    padding: 2em 2em;
    justify-content: center;
    background-color: var(--azul);
}

.card-text {
    text-align: justify;
}

.img-card-gato,
.alinha-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-gato-mobile {
    display: none;
}

.borda-esquerda {
    border-left: solid 1px var(--cinza-claro);
    margin: 1em;
}

/* CORPO INDEX - SECAO-SERVICOS */
.titulo-servicos {
    text-align: center;
    padding: 1em;
}

.secao-servicos h2 {
    margin-bottom: 0.5em;
}

.secao-card-servicos {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.secao-card-center {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

/* CORPO INDEX - SECAO DEPOIMENTO */
.secao-comentario-texto {
    text-align: justify;
}

/* TELAS MENORES */

@media only screen and (max-width: 1400px) {

    /* NAV BAR */
    .container-nav {
        padding: 0.5em;
    }
}

@media only screen and (max-width: 766px) {

    /* CORPO INDEX  SECAO-SOBRE-NOS */
    .card-gato-web {
        display: none;
    }

    .card-gato-mobile {
        display: block;
    }

    /* CORPO INDEX  DEPOIMENTOS */
    .secao-comentario {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 406px) {

    /* CORPO INDEX  DEPOIMENTOS */
    .secao-comentario {
        flex-direction: column;
        align-items: center;
    }
}